<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home Page!!!!!!</h1>
  <br>
  <br>
<form action="/" method="POST">
    <input name="userName" type="text" placeholder="Your userName...">
    <br>
    <br>
    <input name="userEmail" type="email" placeholder="Your Email...">
    <br>
    <br>
    <input name="userPassword" type="password" placeholder="Your password...">
    <br>
    <br>
    <button>Send to Data base</button>
</form>
</body>
</html>